/* HERO */

/* Hero Container */
.hero {
  background-color: #000;
  position: relative;
}

/* Hero Carousel */
.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
  animation: zoomHero 20s ease-in-out infinite alternate;
  filter: brightness(60%);
}

/* Animación de zoom */
@keyframes zoomHero {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* Hero Title */
.hero-title {
  opacity: 0;
  animation: fadeInText 3s ease-out 1s forwards;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

/* Hero Subtitle */
.hero-subtitle {
  opacity: 0;
  animation: fadeInText 3s ease-out 1.5s forwards;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

/* Animación fadeIn */
@keyframes fadeInText {
  to {
    opacity: 1;
  }
}
