@tailwind base;
@tailwind components;
@tailwind utilities;

/* CURVAS FONDO CLARO */
.curvas-fondo-claro {
  background-image: url('../images/curvas-fondo-martin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.curvas-fondo-claro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: -1;
}

/* CURVAS FONDO OSCURO */
.curvas-fondo-oscuro {
  background-image: url('../images/curvas-fondo-martin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  color: #fff;
  position: relative;
  z-index: 1;
}

.curvas-fondo-oscuro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
